* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: #f3f5f9;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #4b4276;
    padding: 30px 0;
}

.wrapper .sidebar h2 {
    color: #f3f5f9;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.wrapper .sidebar ul li {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
    color: #bbddbb;
    display: block;
}

.wrapper .sidebar ul li:hover {
    background: rgba(213, 100, 100, 0.755);
}

.wrapper .sidebar ul li:hover a {
    color: #ffffff;   
}

.wrapper .main-content {
    width: 100%;
    margin-left: 200px;
}

.wrapper .main-content .header {
    padding: 20px;
    background: #ffffff;
    color: black;
    border-bottom: 1px solid #e0e4e8;
    text-align: center;
    font-weight: bold;
}

.wrapper .main-content .info {
    margin: 20px;
    color: #771177;
    line-height: 25px;
}

.wrapper .main-content .info div {
    margin-bottom: 20px;
}



.main-content .info {
    /* border: 1px red solid; */
    display: inline-block;
    margin: 20px auto;
}