body {
    margin: 0;
    padding: 0;
    background-image: url(../../img/place.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.form-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350;
    height: 420;
    padding: 60px 30px;
    box-sizing: border-box;
    background-color: rgb(0, 0, 0, 0.6);
    padding-bottom: 5%;
    padding-top: 50px;
}

h2 {
    margin: 0;
    padding: 0 0 40px;
    font-weight: bold;
    color: #f3e541;
    text-align: center;
}

.form-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #ffffff;
}

.form-box input {
    width: 100%;
    margin-bottom: 25px;
}

.form-box input[type="text"], .form-box input[type="password"], .form-box input[type="number"] {
    border: none;
    outline: none;
    border-bottom: 1px solid #ffffff;
    background: transparent;
    color: #ffffff;
    font-size: 16px;
}

.form-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    color: #ffffff;
    font-size: 16px;
    background: rgb(149, 125, 97);
    cursor: pointer;
    border-radius: 20px;
}

.form-box input[type="submit"]:hover {
    background: rgb(83, 80, 77);
    color: #ffffff
}

.form-box a {
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}