/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style */
header {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-evenly;
}

header .h {
    width: 100px;
    height: 100px;
}

header .home {
    width: 300px;
    background-image: url(../../img/logo.png);
    border-radius: 20px;
    background-size: cover;
    background-position: 0 -20px;
    cursor: pointer;
}

header .produk, header .galery, header .masuk, header .akun {
    text-align: center;
    line-height: 100px;
    width: 50px;
}

header .produk a, header .galery a, header .masuk a, header .akun a {
    text-decoration: none;
    color: #eeeeee;
    background-color: rgb(111, 61, 61);
    padding: 20px;
    border-radius: 20px;
}

.wrapper {
    display: flex;
    position: relative;
}

.wrapper .sidebar {
    height: 100%;
    background-color: #eaeaea;
}

.wrapper .sidebar h2 {
    text-align: center;
    border-bottom: 2px solid rgb(255, 236, 236);
}

.wrapper .sidebar h2 img{
    width: 80px;
}

.wrapper .sidebar ul li {
    padding: 25px;
}

.wrapper .sidebar ul li a {
    color: black;
    display: block;
    line-height: 25px;
    font-size: 16px;
}

.wrapper .sidebar ul li:hover {
    background: rgba(213, 100, 100, 0.755);
}

.wrapper .sidebar ul li:hover a {
    color: #ffffff;   
}

.wrapper .main-content {
    width: 100%;
}

.wrapper .main-content .header {
    padding: 5px;
    background: #ffffff;
    color: black;
    border-bottom: 1px solid #e0e4e8;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.wrapper .main-content .info {
    margin: 20px;
    color: #771177;
    line-height: 25px;
}

.wrapper .main-content .info div {
    margin-bottom: 20px;
}