/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* style */
header {
    padding-top: 5px;
    padding-bottom: 20px;
    background-color: #eeeeee;
    display: flex;
    justify-content: space-evenly;
}

header .h {
    width: 100px;
    height: 100px;
}

header .home {
    width: 300px;
    background-image: url(../../img/logo.png);
    border-radius: 20px;
    background-size: cover;
    background-position: 0 -20px;
    cursor: pointer;
}

header .produk, header .galery, header .masuk, header .akun {
    text-align: center;
    line-height: 100px;
    width: 50px;
}

header .produk a, header .galery a, header .masuk a, header .akun a {
    text-decoration: none;
    color: #eeeeee;
    background-color: rgb(111, 61, 61);
    padding: 20px;
    border-radius: 20px;
}

body div#greeting h1{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    text-shadow: 5px 5px 10px brown;
}

.hero {
    margin-top: 25px;
    height: 400px;
    background-image: url(../../img/hero.webp);
    background-size: cover;
    /* border: 2px darkorange dashed; */
}

.hero .content h1 {
    color: white;
    text-shadow: 5px 5px 10px brown;
    font-size: 85px;
    font-weight: bold;
    text-align: center;
    padding-top: 100px;
    word-spacing: 10px;
    letter-spacing: 15px;
    padding-bottom: 25px;
}

.hero .content p {
    color: white;
    text-shadow: 10px 10px 15px brown, -10px -10px 10px brown;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 2px;
}

main {
    /* border: 4px solid black; */
    padding-top: 15px;
    padding-bottom: 15px;
    height: 400px;
    display: flex;
}

main .kiri {
    /* border: 2px solid red; */
    background-image: url(../../img/place.jpg);
    background-size: cover;
    background-position: 0 -50px;
    border-radius: 25px;
    flex: 1;
    opacity: 0.9;
}

main .kanan {
    padding-top: 40px;
    /* border: 2px solid green; */
    flex: 1;
    text-align: center;
}

.kanan p.about {
    font-size: 40px;
    font-weight: bold;
    padding: 30px;
    margin: 15px;
}

.kanan .deskripsi {
    font-size: 20px;
    padding: 30px;
    margin: 15px;
}

footer {
    background-color: #eeeeee;
    padding: 20px;
}

footer p {
    color: brown;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}